---
interface Props {
  url: string;
  date: Date;
  title: string;
  tags: string[];
  description: string;
}

const { url, date, title, tags, description } = Astro.props;
---

<div class="clear-both">
  <div
    class="text-center uppercase mb-4 ml-8 py-1 border-y border-white leading-4 float-right"
  >
    <a href={url} data-astro-prefetch>
      <time datetime={date.toISOString()}>
        <span>
          {date.toLocaleDateString("en-US", { month: "short" })}
        </span>
        <br />
        <span class="text-[2em] leading-7">
          {date.getDate().toString().padStart(2, "0")}
        </span>
        <br />
        <span> {date.getFullYear()}</span>
      </time>
    </a>
  </div>
  <div class="mt-3 leading-4 mb-2">
    <h2 class="font-medium inline mr-1 leading-5">
      <a href={url} class="underline decoration-white/30 decoration-1 underline-offset-3" data-astro-prefetch>{title}</a>
    </h2>
    <span class="tags space-x-2 font-mono">
      {
        tags.map((tag) => (
          <a data-astro-prefetch href={`/tags/${tag}`}>
            {tag}
          </a>
        ))
      }
    </span>
  </div>
  {description}
</div>
