---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import type { Props as SEOProps } from "astro-seo";

const repository_url = `https://github.com/${
  import.meta.env.PUBLIC_VERCEL_GIT_REPO_OWNER
}/${import.meta.env.PUBLIC_VERCEL_GIT_REPO_SLUG}`;
const build_revision = import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA ?? "unknown";

interface Props {
  title?: string;
  ogp?: SEOProps
}

const { title, ogp } = Astro.props;
---

<Base title={title} ogp={ogp}>
  <Header className="mt-5 mb-3" />
  <nav
    class="text-center text-sm md:text-xl text-white [&>span]:text-[#808080] [&>a]:underline [&>a]:decoration-white/50 [&>span]:select-none [&>a]:text-nowrap"
  >
    <a href="/" aria-label="Link to Home">~/</a>
    <span aria-hidden="true">:</span>
    <a href="https://xevion.dev" aria-label="About Me">~/about/</a>
    <span aria-hidden="true">:</span>
    <a href="https://xevion.dev/projects" aria-label="My Projects">~/projects/</a>
    <span aria-hidden="true">:</span>
    <a href="https://xevion.dev/resume" aria-label="My Resume">~/resume/</a>
  </nav>
  <div class="max-w-full">
    <slot name="default" />
  </div>
  <footer class="text-center">
    <a href="/feed.xml">RSS</a>
     |
    <a href={`${repository_url}/commit/${build_revision}`}>
      <span id="commit-id" style={{ color: "#" + build_revision.slice(0, 6) }}
        >#{build_revision.slice(0, 7)}</span
      >
    </a>
  </footer>
</Base>
