---
import General from "@layouts/General.astro";
import { type CollectionEntry } from 'astro:content';
import { format } from "date-fns";

interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;
const { title, pubDate, tags } = post.data;
const tagCount = tags.length;
---
<General title={title}>
  <div class="max-w-3xl mx-4">
    <h1>
      <a href={post.slug}>
        {title}
      </a>
    </h1>
    <p class="mt-0 text-sm ml-5">
        <a href={post.slug}>
          <time class="font-mono" datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">
            {format(pubDate, "MM-dd-yyyy HH:mm OOO")}
          </time>
        </a>
        <span class="space-x-2">
          {tags.map((tag, i) => (
            <><a href={`/tags/${tag}`}>{ tag }</a>{ i < tagCount - 1 ? ',' : ''}</>
        ))}
        </span>
      <article>
        <slot />
      </article>
    </p>
  </div>
  <hr />
</General>
